@import 'colorVariables';

/* Font Weight*/
$weights: 300, 400, 500, 600, 700;
@each $weight in $weights {
  .w-#{$weight} {
    font-weight: #{$weight};
  }
}

/* Text Align */
$aligns: left, center, right, justify;
@each $align in $aligns {
  .text-#{$align} {
    text-align: #{$align};
  }
}

/* Animation */
@keyframes myMove {
  0% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes myMoves {
  0% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

/* Button */
.btn-black {
  background: $black;
  color: $white;
}
.btn-green {
  background: $primaryGreen;
  color: $white;

  &:hover {
    background-color: lighten($primaryGreen, 5);
    transition: 0.3s all ease-in-out;
  }
}

.btn-lg {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
