@import 'colorVariables';

/* Font Weight*/
$weights: 300, 400, 500, 600, 700;
@each $weight in $weights {
  .w-#{$weight} {
    font-weight: #{$weight};
  }
}

/* Text Align */
$aligns: left, center, right, justify;
@each $align in $aligns {
  .text-#{$align} {
    text-align: #{$align};
  }
}

/* Margin Padding */
.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 50px;
}

/* Animation */
@keyframes myMove {
  0% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes myMoves {
  0% {
    left: 0;
  }
  25% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

/* Button */
.btn-black {
  background: $black;
  color: $white;
}
.btn-green {
  background: $primaryGreen;
  color: $white;

  &:hover {
    background-color: lighten($primaryGreen, 5);
    transition: 0.3s all ease-in-out;
  }
}

.btn-shadow {
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
}

.btn-lg {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-white {
  color: $white;
}

.title {
  color: $black;
  font-size: 1.75rem;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.subtitle {
  font-size: 1rem;
  margin: 10px 0;
  color: $black;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

.description {
  color: $black;
  font-size: 0.825rem;
  margin: 10px 0;
}
